.container {
    .container__content {
        height: 100vh;
        .title {
            padding-left: $space-m;
            padding-top: $space-m;
            .title__under {
                border-bottom: 2px solid $primaryBlood;
                padding-top: $space-s;
            }
        }
    }
}
