.footer {
    .footer__content {
        color: $black;
    }
    .up__arrow {
        position: fixed;
        right: .5rem;
        bottom: 3.5rem;
        z-index: 3;
        .up__arrow-drop {
            color: $primaryBlood;
            position: relative;
            font-size: 2rem;
            height: auto;
        }
        .up__arrow-arrow {
            color: $backgroundColor;
            position: absolute;
            right: 7px;
            top: 8px;
            font-size: 1.1rem;
        }
    }
}