.container {
    padding-bottom: $space-l;
    .container__content {
        margin-bottom: 2rem;
        .title {
            padding-left: $space-m;
            padding-top: $space-m;
            margin-bottom: $space-m;
            h1 {
                text-transform: capitalize;
            }
            .title__under {
                border-bottom: 2px solid $primaryBlood;
                padding-top: $space-s;
            }
        }
        .container__card {
            padding: 0 $space-m;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: $space-m;
            .desktop {
                display: none;
            }
            .article {
                display: flex;
                width: 100%;
                .card {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .card__film {
                        position: relative;
                        width: 100%;
                        height: auto;
                        .card__icon {
                            position: absolute;
                            rotate: 90deg;
                            color: white;
                            font-size: 3rem;
                            left: 0;
                            bottom: 0;
                            padding: $space-base;
                            opacity: 0;
                            transition: opacity .6s;
                            z-index: 3;
                        }
                        .card__overly {
                            opacity: 0;
                            position: absolute;
                            background: linear-gradient(180deg, rgba(156,25,21,1) 0%, rgba(0,0,0,1) 100%);;
                            mix-blend-mode: multiply;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            transition: opacity .6s;
                        }
                        &:hover .card__overly, &:hover .card__icon{
                            opacity: 1;
                        }
                        .card__img {
                            max-height: 215px;
                            max-width: 100%;
                            object-fit: cover;
                        }
                    }
                    .card__info {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        padding: 1rem 0;
                        .card__info-content {
                            margin-right: $space-base;
                            .card__title {
                                font: $jost-med-18-120;
                                text-transform: uppercase;
                            }
                            .card__desc {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    .info__invert {
                        flex-direction: row-reverse;
                        .card__info-content {
                            margin-right: 0;
                            margin-left: $space-base;
                            .card__title {
                                text-align: right;
                            }
                            .card__desc {
                                text-align: right;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
        .carousel {
            position: relative;
            overflow: hidden;
            .carousel__inner {
                .slick-track{
                    display: flex;
                    width: 100%;
                    .slick-slide {
                        width: auto !important;
                    }
                }
                .carousel__card {
                    position: relative;
                    width: 160px;
                    margin-right: $space-base;
                    height: auto;
                    .carousel__overly {
                        opacity: 1;
                        position: absolute;
                        background: linear-gradient(180deg, rgba(156,25,21,1) 0%, rgba(0,0,0,1) 100%);
                        mix-blend-mode: multiply;
                        width: 160px;
                        height: 250px;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        transition: opacity .6s;
                    }
                    &:hover .carousel__overly, &:hover .carousel__info {
                        opacity: 0;
                    }
                    &:hover .carousel__icon {
                        opacity: 1;
                    }
                    .carousel__icon {
                        position: absolute;
                        color: white;
                        bottom: 0;
                        left: 0;
                        padding: 1rem 1rem;
                        rotate: 90deg;
                        font-size: 3rem;
                        opacity: 0;
                        transition: opacity .6s;
                    }
                    .carousel__img {
                        object-fit: cover;
                        height: 250px;
                        width: 160px;
                    }
                    .carousel__info {
                        position: absolute;
                        bottom: 1rem;
                        left: 1rem;
                        width: 155px;
                        opacity: 1;
                        h1 {
                            font: $jost-med-18-120;
                            text-transform: uppercase;
                            color: $backgroundColor;
                        }
                        p {
                            font: $jost-semb-16-150;
                            color: $secondaryBrain;
                        }
                    }
                }
            }
        }
    }
    .resume {
        display: flex;
        justify-content: center;
        margin-bottom: $space-l;
        .resume__fest {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 390px;
            padding: $space-base $space-m;
            >h1, p {
                text-align: center;
                margin-bottom: $space-base;
            }
            >p {
                margin-top: $space-base;
            }
        }
    }
    .schedule {
        padding: 0 $space-base;
        display: flex;
        justify-content: center;
        .schedule__content {
            width: 100%;
            >h1 {
                padding: $space-base $space-xs;
                text-align: center;
            }
            .schedule__list {
                .schedule__item {
                    padding: $space-base 0;
                    h3 {
                        text-transform: uppercase;
                    }
                    .schedule__desc {
                        display: flex;
                        justify-content: space-between;
                    }
                    p, a, h3, .schedule__desc {
                        margin-bottom: $space-s;
                    }
                }
            }
            .show {
                display: block;
                animation: fadeIn 1.5s forwards;
            }
            .hide {
                display: none;
                animation: fadeOut 1.5s forwards;
            }
        }
    }
}
.footer {
    .footer__content {
        padding-bottom: 4rem;
        background-color: $secondaryBrain;
        padding-top: $space-base;
        padding-right: $space-base;
        padding-left: $space-base;
        .footer__desc {
            h1 {
                margin-bottom: $space-m;
            }
        }
        .footer__metadata {

            .footer__rrss {
                display: flex;
                padding: $space-base 0;
                gap: $space-xxl;
                li a{
                    color: $genericText;
                    font: $jost-semb-16-150;
                }
                a:hover {
                    color: $backgroundColor;
                }
            }
        }
    }
}


/*********************** ANIMATIONS *************************/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}            
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}