/*********************************************************************************************************/
// This site is mobile first -- Media beging here...
// iPad Version
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
@media (min-width: 740px) {
    .header {
        justify-content: inherit;
        .header__logo {
            flex: 1 auto;
            .header__logo-movil {
                width: 70px;
            }
        }
        #overlay__button {
            justify-content: center;
            display: flex;
            position: relative;
            bottom: inherit;
            padding: 26px;
            z-index: 5;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background: transparent;
            width: auto;
            order: 2;
        }
        #overlay {
            height: 100vh;
            width: 50vw;
            bottom: inherit;
            transition: all 0.5s;
            top: 0;
            right: -50rem;
            ul {
                justify-content: flex-start;
                margin-top: 5rem;
                li {
                    padding: 2rem;
                }
            }
        }
        input[type=checkbox] {            
            &:checked ~ #overlay {
                // visibility: visible;
                right: 0;
                transition: all .5s;
            }
        }
    }
    .hero {
        height: 90vh;
        .waves {
            height: 250px;
        }
        .drops {
            display: block;
            margin-top: 3.5rem;
        }
    }
    .container {
        .container__content {
            .title {
                width: 50%;
            }
            .container__card {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                .article {
                    .card {
                        .card__film {
                            .card__img {
                                max-height: 215px;
                                max-width: 100%;
                                object-fit: cover;
                            }
                        }
                        .info__invert {
                            flex-direction: row;
                            .card__info-content {
                                margin-right: $space-base;
                                margin-left: 0;
                                .card__title {
                                    text-align: left;
                                }
                                .card__desc {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
        .schedule {
            padding: 0 $space-m;
            .schedule__content {
                .tabbar {
                    ul {
                        li {
                            padding: 0 $space-m;
                        }
                    }
                }
                .schedule__list {
                    .schedule__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: $space-base $space-base;
                        border-bottom: 1px solid $secondaryBrain;
                        .schedule__desc {
                            width: 100%;
                            justify-content: center;
                            .schedule__forward {
                                display: none;
                            }
                        }
                        .btnSecondary__schedule {
                            margin: 0;
                            width: fit-content;
                            text-wrap: nowrap;
                        }
                        h3, p {
                            width: 100%;
                        }
                        .schedule__hour  {
                            text-align: center;
                        }
                    }
                }
            }
        }
        .film {
            .film__title {
                display: flex;
                margin-bottom: $space-m;
            }
            .film__content {
                flex-direction: row;
                .film__metadata {
                    justify-content: space-between;
                    width: 100%;
                    padding: 0;
                    padding-right: $space-m;
                    .film__title {
                        display: none;
                    }
                    .film__data {
                        display: flex;
                        flex-direction: column;
                        li {
                            font: $jost-semb-16-150;
                            span {
                                font: $jost-reg-16-150;
                            }
                        }
                    }
                }
                .film__resume-small {
                    display: none;
                }
                .film__shop {
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: $space-s;
                    .btn__liquid-film {
                        display: flex;
                        width: 100%;
                    }
                }
                .film__img {
                    padding: $space-none;
                }
            }
            .film__resume {
                margin-top: $space-m;
                order: 2;
                flex-direction: column;
            }
            .btn__liquid-film {
                display: none;
            }
        }
        .film__trailer {
            iframe {
                height: 400px;
            }
        }
        .film__desc {
            .director {
                .director__sheet {
                    flex-direction: row;
                }
            }
        }
        .shopping {
            .shopping__film {
                .shopping__select {
                    form {
                        flex-direction: row;
                        gap: 1.5rem;
                    }
                }
            }
        }
        .checkout {
            padding: 0;
            padding-top: 5rem;
            .checkout__title {
                padding: $space-m $space-m;
            }
            .checkout__content {
                .film__img {
                    margin-bottom: 1.5rem;
                    height: 200px;
                    img {
                        object-fit: cover;
                    }
                }
                .checkout__data {
                    position: absolute;
                    top: 18.85rem;
                    left: 1.5rem;
                }
            } 
        }
    }

    .footer {
        .footer__content {
            padding-bottom: $space-base;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .footer__desc {
                width: 50%;
                h1 {
                    margin-bottom: $space-m;
                }
            }
            .footer__metadata {
                width: 50%;
                .footer__rrss {
                    padding: $space-none 0;
                    gap: $space-l;
                    justify-content: flex-end;
                    li a{
                        color: $black;
                        font: $jost-semb-16-150;
                    }
                    a:hover {
                        color: $backgroundColor;
                    }
                }
                p {
                    text-align: right;
                }
            }
        }
    }
}

/*********************************************************************************************************/
// DESKTOP Version
// SPECIAL iPAD´s
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
@media all and (device-width: 1133px) and (device-height: 744px) and (orientation:landscape) {
    .container {
        .film {
            .film__content {
                .film__shop {
                    .btn__liquid-film {
                        width: inherit;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
@media all and (device-width: 1180px) and (device-height: 820px) and (orientation:landscape) {
    .container {
        .film {
            .film__content {
                .film__shop {
                    .btn__liquid-film {
                        width: inherit;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .container {
        .film {
            .film__content {
                .film__shop {
                    .btn__liquid-film {
                        width: inherit;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
// END SPECIAL iPAD´s

/*********************************************************************************************************/
// DESKTOP Version
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
@media (min-width: 1200px) {
    .header {
        justify-content: inherit;
        .header__logo {
            flex: 1 auto;
            .header__logo-movil {
                width: 70px;
                display: none;
            }
            .header__logo-desktop {
                display: flex;
            }
        }
        .header__icon {
            border-left: 2px solid white;
            height: 25px;
            display: flex;
            align-items: center;
            padding: 1rem;
        }
        #overlay__button {
            display: none;
        }
        #overlay {
            height: auto;
            display: flex;
            width: 100%;
            bottom: unset;
            transition: all 0.5s;
            top: unset;
            right: unset;
            left: unset;
            background: transparent;
            position: relative;
            justify-content: flex-end;
            ul {
                flex-direction: row;
                margin-top: 0;
                li {
                    padding: 1rem;
                    a {
                        letter-spacing: 1px;
                        text-transform: capitalize;
                        font: $jost-semb-16-150;
                    }
                }
            }
        }
    }
    .hero {
        .content {
            max-width: 1090px;
        }
        .waves {
            height: 350px;
        }
        .drops {
            display: block;
        }
    }
    .container {
        .container__content {
            .container__card {
                grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
                padding: 0 $space-m;
                .article {
                    display: flex;
                    width: 100%;
                    .card {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .card__film {
                            .card__img {
                                max-height: 315px;
                                max-width: 100%;
                                object-fit: cover;
                            }
                        }
                        .info__invert {
                            flex-direction: row;
                            .card__info-content {
                                .card__title {
                                    text-align: left;
                                }
                                .card__desc {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
            .carousel {
                .carousel__inner {
                    .carousel__card {
                        width: 290px;
                        display: flex;
                        gap: 1.5rem;
                        article {
                            .card {
                                .info__invert {
                                    flex-direction: row;
                                }
                            }
                        }
                        .carousel__overly {
                            width: 290px;
                            height: 440px;
                        }
                        .carousel__img {
                            width: 290px;
                            height: 440px;
                        }
                    }
                }
            }
        }
        .schedule {
            padding: 0 $space-xl;
            .schedule__content {
                max-width: 980px;
                .tabbar {
                    ul {
                        li {
                            padding: 0 $space-xl;
                        }
                    }
                }
            }
        }
        .film {
            .film__title {
                display: none;
                margin-bottom: $space-none;
            }
            .film__content {
                flex-direction: row;
                .film__metadata {
                    justify-content: space-between;
                    width: 100%;
                    padding: 0;
                    padding-right: $space-m;
                    .film__title {
                        display: flex;
                    }
                    .film__data {
                        display: flex;
                        flex-direction: column;
                        li {
                            font: $jost-semb-16-150;
                            span {
                                font: $jost-reg-16-150;
                            }
                        }
                    }
                }
                .film__resume-small {
                    display: inherit;
                    order: 1;
                    margin-top: $space-s;
                }
                .film__shop {
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: $space-s;
                    order: 2;
                    .btn__liquid-film {
                        display: flex;
                        width: inherit;
                        
                    }
                }
                .film__img {
                    padding: $space-none;
                    width: 100%;
                }
            }
            .film__resume {
                display: none;
            }
            .btn__liquid-film {
                display: none;
            }
        }
        .film__trailer {
            iframe {
                height: 600px;
            }
        }
        .shopping {
            .shopping__film {
                .shopping__select {
                    form {
                        flex-direction: row;
                        gap: 1.5rem;
                    }
                    .shopping__seats {
                        overflow: inherit;
                        justify-content: center;
                    }
                }
            }
        }
        .checkout {
            .checkout__content {
                .film__img {
                    height: 260px;
                }
                .checkout__data {
                    top: 20.85rem;
                }
            } 
        }
    }
}

/*********************************************************************************************************/
// DESKTOP Version
/* XXL - only carrousel */
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
/*********************************************************************************************************/
@media (min-width: 1500px) {
    .container {
        .container__content {
            .container__card {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            }
            .carousel {
                .carousel__inner {
                    .carousel__card {
                        width: 340px;
                        .carousel__overly {
                            width: 340px;
                            height: 530px;
                        }
                        .carousel__img {
                            width: 340px;
                            height: 530px;
                        }
                    }
                }
            }
        }
        .schedule {
            padding: 0 $space-xxl;
            .schedule__content {
                max-width: 980px;
                .tabbar {
                    ul {
                        li {
                            padding: 0 $space-xxl;
                        }
                    }
                }
            }
        }
    }
}